body {
  --gray: #adadad;
  --pink: #a52250;
  --haze: #f2f3f5;
  --size-1: 20px;
  --size-2: 16px;
  --size-3: 12px;
  --section-spacing: 27px;
  --navHeight: 77px;
  // --red: #e92328;
  // --dark-blue: #292f6d;
  // --lightblue: #d8f0f8;
  // --green: #00a500;
  --white: white;
  --size-4: 10px;
  color: var(--text-gray);
  scroll-behavior: smooth;
}
