body {
  --pearl: #fbeff2;
  --blue: #3c7e8e;
  --deep-blue: #173754;
  --size-1: 20px;
  --size-2: 16px;
  --size-3: 12px;
  --section-spacing: 27px;
  --navHeight: 77px;
  --white: white;
  --size-4: 10px;
  color: var(--text-gray);
  scroll-behavior: smooth;
}
